NETBIRD_IP=100.0.0.0
POSTGRES_PASSWORD=CHANGE_ME_openssl_rand_hex_24
MASTER_KEY=CHANGE_ME_openssl_rand_base64_32
OVH_APPLICATION_KEY=CHANGE_ME
OVH_APPLICATION_SECRET=CHANGE_ME
OVH_CONSUMER_KEY=CHANGE_ME
